.hr{
    justify-content: center; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    padding: 0% 2% 0% 2%;
    margin: 2% 2% 2% 2%;
    padding: 0 10px;
    background-color:#18354C;
    color: #18354C;
    font-size: x-large;
}
 .hr span { 
     background:#fff; 
     padding:0 10px; 
 }

 .table{
    text-align: center;
 }

 .search{
    padding: 2%;
 }