/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* body{
    background-color: green;
} */

.fullcontainer{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainer{
    width: 80%;
    height: 90%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 8px 10px #b8afaf88;
    /* border-radius: 10px; */
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: #5745cd; */
    border-radius: 10px;
    /* box-shadow: 5px 10px 8px 10px #b8afaf88; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.left img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px; 
    /* object-fit: cover; */
}
.right{
    width: 50%;
    height: 100%;
    background-color: white;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 0px 10px 10px 0px; 
    /* border-left: 2px  rgb(121, 119, 119); */
    /* box-shadow: 5px 10px 8px 10px #b8afaf88; */
}
.sublogin{
    margin-top: 70px;
    width: 60%;
    height: 40%;
    /* background-color: green; */
    float: left;
}
.btns{
    margin-top: 30px;
    width: 100%;
    height: 40%;
    /* background-color: green; */
}
.sublogin i{
    font-size: 50px;
    color: #392b71;
}
.sublogin label{
    float: left;
    font-size: 20px;
    line-height: 2.5rem;
}
.sublogin input{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    outline: none;
    /* border: none; */
    border: 1px solid grey;
    /* border-bottom: 3px solid black; */
}
.sublogin p{
    float: right;
    cursor: pointer;
    /* display: block; */
}
.login{
    background-color: red;
}
.sublogin .btns button{
    background-color: #392b71;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin: 5px 0px;
}

.btns button:hover{
    background-color: #5745cd;
}
.emailbutton{
    background-color: #392b71;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.digits{
    /* background-color: green; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.digits input{
    height: 40px;
    width: 40px;
}
.submitotp{
    background-color: #392b71;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
.digits input{
    color: #392b71;
    font-size: 25px;
    /* padding: 1px; */
}