.tableContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .userTable {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .columnHeader {
    background-color: #f7f7f7;
    padding: 10px;
    text-align: left;
    font-weight: bold;
  }
  
  .tableCell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  